CONFIG_WIFI_SSID="Alvaro"
CONFIG_WIFI_PASSWORD="19671940"
CONFIG_TELEGRAM_BOT_TOKEN="8380089083:AAHragoNLczh6qzxMm1Fh1vDb0Dz_ZWU4Sg"
CONFIG_TELEGRAM_CHAT_ID="8484611394"
CONFIG_TELEGRAM_COOLDOWN_SEC=60
